<% layout('layouts/boilerplate.ejs') -%>
    <h1> <span class="me-4"><a href="/fleets" class="text-dark" style="text-decoration:none">&loarr;</a></span>
        Details | Flitter</h1>
    <hr>
    <div class="offset-3 col-6">
        <h3>
            <b>
                <%= theTweet.username %>
                    <% if(theTweet.username==="Flitter" ) { %>
                        &reg;
                        <% } %>
            </b>
        </h3>
        <div>
            <%= theTweet.tweet %>
        </div>
        <hr>
        <div>
            <b>
                <%= theTweet.likes %>
            </b> Likes &middot;
            <%= t12hr %>
        </div>
        </br>
        <a href="/fleets/<%= theTweet._id %>/edit">Edit your tweet</a>
        <form action="/fleets/<%= theTweet._id %>?_method=DELETE" method="POST">
            <button>Delete tweet</button>
        </form>
    </div>