<% layout('layouts/boilerplate.ejs') -%>
    <h1> <span class="me-4"><a href="/fleets" class="text-dark" style="text-decoration:none">&loarr;</a></span>
        Details | Flitter</h1>
    <hr>
    <div class="offset-3 col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <strong>
                        <%= theFleet.username %>
                            <% if(theFleet.username==="Flitter" ) { %>
                                &reg;
                                <% } %>
                    </strong>
                </h5>
                <p class="card-text">
                <div>
                    <%= theFleet.fleet %>
                </div>
                <hr>
                <div>
                    <b>
                        <%= theFleet.likes %>
                    </b> Likes &middot;
                    <%= t12hr %>
                </div>
                </p>
                <form style="display: inline-block;" action="/fleets/<%= theFleet._id %>/edit">
                    <button class="btn btn-info">Edit tweet</button>
                </form>
                <form style="display: inline-block;" action="/fleets/<%= theFleet._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete tweet</button>
                </form>
            </div>

        </div>